* {
  font-family: Arial;
}

body {
  background: rgb(33, 33, 33);
  color: rgb(188, 188, 188);
  margin: 0px;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
}

nav {
  background: rgb(224, 0, 0);
  color: white;
  height: 60px;
  display: block;
  padding-right: 5vw;
  padding-left: 2vw;
}

nav .link {
  height: 100%;
  font-size: 20px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  float: right;
  padding: 1vw;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: background-color 0.2s;
}

nav .link:hover {
  background-color: rgb(188, 0, 0);
}

#logo {
  font-size: 23px;
  height: 60px;
  line-height: 60px;
}