* {
  font-family: Arial;
}

body {
  background: rgb(33, 33, 33);
  color: rgb(188, 188, 188);
  margin: 0px;
}
main {
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: bold;
  font-size: 100px;
  margin: 0px;
  padding-top: 50px;
  padding-bottom: 50px;
  color: rgb(188, 188, 188);
}

nav {
  background: rgb(212, 1, 1);
  color: white;
  height: 60px;
  display: block;
  padding-right: 5vw;
  padding-left: 2vw;
}

nav .link {
  height: 100%;
  font-size: 20px;
  color: white;
  text-decoration: none;
  line-height: 60px;
  float: right;
  padding: 1vw;
  padding-top: 0px;
  padding-bottom: 0px;
  transition: background-color 0.2s;
}

nav .link:hover {
  background-color: rgb(188, 0, 0);
}

#logo {
  font-size: 23px;
  height: 60px;
  line-height: 60px;
}

footer {
  background-color: rgb(212, 1, 1);
  text-align: center;
  display: block;
  padding: 30px;
  height: 120px;
}

main {
  /* Set the minimum height of the main content to the viewport height minus the size of the nav + footer (240px). This makes the footer always on the bottom of the page, no matter the page height.*/
  min-height: calc(100vh - 240px);
  display: block;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}