body {
    background-image: url(images/404chess.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

h1 {
    font-size: 75px;
    color: black;
   
}

main {

    font-size: 25px;
    color: black;

}

main a {
    font-size: 30px;
    font-weight: bold;
    color:  black;
    margin-top: 100px;
    display: block;
}