body {
    background-image: url(/images/about.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: 2000px;
    background-color: rgb(12, 14, 29);
}