header {
    background-image: url(/images/about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 750px;
    background-color: rgb(12, 14, 29);
    text-align: center; 
}

p {
    color: azure;
    text-align: center;
    text-wrap: balance;
    height: 1000px;
    font-size: 27px;
}
