main {
    background-image: url("/images/chess.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    height: auto;
    background-color: black;
}

p {
    color: azure;
    text-align: center;
    text-wrap: balance;
    height: auto;
    font-size: 27px;
    padding-left: 25px;
    padding-right: 25px;
}
